html {
  min-width: 750px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.content {
  display: flex;
  justify-content: space-between;
}

/*=====Text Stylings=====*/
.title {
  color: #4B82FF;
  font-weight: bold;
  font-size: 14px;
}
.body {
  color: #1e2533;
  font-size: 10px;
}

/*=====HEADER=====*/
header {
  display: flex;
  justify-content: space-between;

  font-size: 24px;

  padding: 24px;

  border-bottom: 1px solid #e6eeff;
}
header span {
  color: #ff3333;
}
.header-right {
  display: flex;
}
.header-monthof {
  padding-right: 16px;
  padding-left: 16px;
}

/*=====SUBHEADER=====*/
.subheader {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #e6eeff;
}
.date {
  width: calc(100%/8);

  padding: 16px;

  font-weight: bold;

  border-left: 1px solid #e6eeff;
  border-right: 1px solid #e6eeff;
}
.timezone {
  color: grey;
  font-weight: normal;
}

/*=====LEFTSIDE=====*/
.leftside {
  width: calc(100%/8);
  display: flex;
  flex-direction: column;
}
.leftside-times {
  text-align: center;
  height: 58px;
  padding-top: 30px;
}

/*=====RIGHTSIDE=====*/
.rightside {
  width: calc(100% - (100%/8));
  display: flex;
}
.rightside-column {
  width: calc(100%/7);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-left: 1px solid #e6eeff
}
.rightside-column-content {
  display: flex;
  flex-direction: column;

  height: 25px;
  padding: 8px;

  border-bottom: 1px solid #e6eeff;
}
.highlighted {
  background-color: #80ffcc;
}

/*=====FOOTER=====*/
footer {
  display: flex;
  flex-direction: column;
}
.week-buttons {
  display: flex;
  justify-content: space-between;

  margin: 16px 24px;
}
.footer-text {
  display: flex;
  justify-content: space-between;

  padding: 24px;

  border-top: 1px solid #e6eeff;
}

/*=====MODAL=====*/
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;

  top:0;
  left:0;

  background-color: rgba(0,0,0,0.2);

  z-index: 10;
}
.modal-container {
  display: flex;
  flex-direction: column;
  position: relative;

  max-height: 250px;

  left: 0;
  top: 0;

  padding: 0px 16px 16px 16px;

  background-color: white;
}
.modal-content {
  margin-top: 12px;
  margin-bottom: 8px;
}
